{% extends '_base.html' %}
{% load static %}

{% block title %}Offerings page{% endblock %}

{% block content %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <h1>The Offerings Of Andrew Thomas Carroll</h1>
  </div>
</header>

<div class="container">
  <h3>Work With Me</h3>
  <p>
    Welcome to our donation-based coaching program. Andrew Thomas Carroll is a modern minstrel, storyteller, facilitator, and speaker. He illuminates opportunities for integration and growth through stories, experiences, and technologies, including psychedelics.<br>
    <br>
    On this podcast, Andrew shares his own story of healing and growth through the use of psychedelics and interviews other people who have also found healing and transformation through a diverse collection of powerful tools. Topics include somatic therapy, movement as medicine, the power of the voice, finding your unique purpose, and the use of psychedelics for healing and personal growth.<br>
    <br>
    If you're looking for inspiration and guidance on your own journey of healing, growth, and thriving, then this podcast is for you.<br>
    <br>
  </p>

  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/witches.png' %}" class="img-fluid image-card" alt="Witches Forest" style="width: 444px; height: 444px;">
      <p>
        The examination of this embodied experience. Requires a shift of mindset. In this moment you understand that we are one and the same. The archetypes of light and dark become nondualistic. This is the work.
      </p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/candles.png' %}" class="img-fluid image-card" alt="The Candles">
      <p>
        Turn away from nothing. Go into the darkest darkness. So thick it creates friction. Know this place. Love this place. For the slave shall serve. The Master. The god. Shall be served.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/snakes.png' %}" class="img-fluid image-card" alt="The Snakes">
      <p>
        I am. Love and Truth. Hatred and Chaos. Life and Death. Black and White. I am the traveler in darkness. I am the sailor of light. I was conceived in rape. I was born in love. I am the child of the sun. I am the daughter of the moon.
      </p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/wrought.png' %}" class="img-fluid image-card" alt="The Sigil">
      <p>
        Deny the shadow, become enslaved. Often in painfully obvious ways. Kneeling at the throne death. Weak and powerless. You give yourself away. Embrace every cell of your being. Every vibration of your soul. Become One.
      </p>
    </div>
  </div>

  <div>
    <p>
      The River Styx. Nine evolutions. Broken bread with the gods. As above. So below. I transcend into the light. Risen from darkness. We are all meant to make this journey. To walk in service to Love and Truth is to integrate every part of your being. The pieces of yourself that you try to spit out. Pieces you hide from others. Pieces you are ashamed of. This is self-deletion. This is death. This is Hell.
      
      Come. Into the light, child. Come into acceptance. Do your work. Be brave. Stand firm.

      Your voice will set you free. Only you can do this. You must save yourself. You must.

      I am here to help you. I am here to guide you. I am here to love you. I am here with an offering.

      <a href="https://calendly.com/iamandrewcarroll/discovery" target="_blank">
        Click here to schedule a call. Now. You are worthy of loving yourself.
      </a>
    </p>
  </div>

  <h2>Useful Links:</h2>
  <ul>
    <li><a href="https://www.lulu.com/shop/andrew-carroll/scared-little-poet/paperback/product-z64wep.html?page=1&pageSize=4" target="_blank">
      Buy The Books
    </a></li>
    <li><a href="https://axeallday.buzzsprout.com/share" target="_blank">
      Listen to the Podcast
    </a></li>
    <li><a href="https://www.youtube.com/@Iamandrewcarroll" target="_blank">
      Watch the Videos
    </a></li>
  </ul>
</div>

<div>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/6LxByTORMlglCfcLleF7b8?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; Axé All Day 2023</span>
  </div>
</footer>

{% endblock %}
