/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: black;
  color: #62ABBD;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
  color: #62ABBD;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
  color: #62ABBD;
}

/* Link Styles */
a {
  color: #62ABBD; /* Default link color */
  text-decoration: none; /* Remove underlines by default */
  background-image: linear-gradient(to right, #62ABBD, #A2AAB0); /* Gradient background for links */
  background-clip: text; /* Make the gradient appear only where the text is */
  -webkit-background-clip: text; /* For compatibility with some web browsers */
  color: transparent; /* Make the link text transparent, showing the gradient background through it */
}

/* Visited Link Styles */
a:visited {
  color: #e3dace; /* Visited link color */
}

/* Hover Link Styles */
a:hover {
  color: #A2AAB0; /* Link color on hover */
  background-image: none; /* Remove the gradient background on hover */
}

